html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: url(https://jsifontz.github.io/huddle-landing-page/assets/bg-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
  display: grid;
  grid-template: 100px 1fr 40px 1em/ 60px 1fr 1fr 80px;
  grid-template-areas: ". header   .      ."
                       ". figure   main   ."
                       ". .        icons  ."
                       ". footer   footer .";
}

.header{
  grid-area: header;
  display: flex;
  align-items: center;
}

.img{
  grid-area: figure;
  margin: 0;
  margin-right: 30px;
}

.img > img {
  width: 50vw;
}

.info{
  grid-area: main;
  margin-left: 30px;
  margin-top: 30px;
  color: white;
}

h1, button{
  font-family: 'Poppins', sans-serif;
}

.btn__container{
  position: relative;
  height: 50px;
  display: inline-block;
  margin-left: 15px;
}

.btn{
  background: white;
  text-align: center;
  cursor: pointer;
  /*outline: 0;*/
  border: 0;
  padding: .5em;
  height: 50px;
  width: 150px;
  color: hsl(257, 40%, 75%);
  font-weight: bold;
  transition: scale .2s;
  font-size: 17px;
  outline-color: black;
}

.btn::after{
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  right: -15px;
  border-radius: 50%;
  height: 50px;
  width: 30px;
}
.btn::before{
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  left: -15px;
  border-radius: 50%;
  height: 50px;
  width: 30px;
}

.btn:active{
  transform: scale(.9);
}

.icons__container {
  grid-area: icons;
  justify-self: end;
}

.icons__container a{
  box-sizing: border-box;
}

.icons__container a:nth-child(2){
  margin: 0 40px;
}

.icons__container a > img {
  width: 2.5em;
  height: 2.5em;
  box-sizing: border-box;
  padding: 6px;
  border: 2px solid white;
  border-radius: 50%;
}

.footer{
  grid-area: footer;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
}

a{
  text-decoration: none;
  color: gold;
  outline-color: hsl(210, 85%, 75%);
}

a:visited{
  color: hsl(210, 85%, 75%);
  outline-color: gold;
}

/*mobile media queries*/

@media screen and (max-width: 768px) {
  body {
  background: url(https://jsifontz.github.io/huddle-landing-page/assets/bg-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
  display: grid;
  grid-template: 110px 200px 1fr 80px 1em / 50px 1fr 50px;
  grid-template-areas: ". header ."
                       ". figure ."
                       ". main   ."
                       ". icons  ."
                       "footer footer footer";
  }

  .header img{
    width: 180px;
    margin-left: -5px;
  }

  .img{
    /*margin: 0 50px;*/
  }

  .img > img {
    width: 100%;
  }

  .info{
    margin: 0;
    text-align: center;
    font-size: 15px;
  }

  .info h1{
    font-size: 1.4em;
  }
  
  .btn__container{
    height: 30px;
  }

  .btn{
    height: 30px;
    width: 150px;
    font-size: 14px;
  }

  .btn:after{
    height: 30px;
  }

  .btn:before{
    height: 30px;
  }

  .icons__container{
    justify-self: center;
    align-self: center;
  }

  .icons__container a:nth-child(2){
    margin: 0 8px;
  }

  .icons__container a > img {
    width: 2em;
    height: 2em;
    padding: 4px;
    border: 2px solid white;
  }

  .footer{
    font-size: 12px;
  }
}
